@model List<UserListModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="mt-4 table table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Account Count</th>
            <th>Process</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td><getAccountCount application-user-id="@item.Id"></getAccountCount> </td>
                <td>
                    <a class="btn btn-sm btn-outline-success" asp-action="Create" asp-controller="Account" asp-route-id="@item.Id">Create New Account</a>
                    <a class="btn btn-sm btn-outline-warning" asp-action="GetByUserId" asp-controller="Account" asp-route-userId="@item.Id">Get Account</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

